[Unit]
Description=Karin AI Telegram Bot & Web Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/aig
ExecStart=/usr/bin/python3 bot.py
Restart=always
RestartSec=5
EnvironmentFile=-/var/www/aig/.env

[Install]
WantedBy=multi-user.target
